#strona {color: magenta; background-color: #ffffff; height: 1000px; text-align: center; align-items: center;}
#formularz {text-align: center; align-items: center; width:50%} 
#skrypty {text-align: center; align-items: center; width:50%} 
#wyniki {text-align: right; float: left; width: 65%;}
